* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Cormorant Garamond', serif;
}

h2 {
    font-size: 48px;
    color: #3A3A3A;
    font-weight: 400;
    font-family: 'Cormorant Garamond', serif;
    margin-bottom: 2rem;
}

header {
    width: 100%;
    color: white;
    display: flex;
    position: absolute; /*contenido absoluto*/
    /* position: fixed; */
    flex-direction: column;
    justify-content: center;
}

.menu-responsivo {
    display: none;
}

nav a{
    padding: 1rem;
}

.velo {
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, .5);
    padding: 0 7.5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#banner-principal {
    width: 100%;
    height: 14vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 7.5%;
}

#top {
    color: white;
    background-image: url('imagenes/portada1.webp');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
    background-attachment: fixed;
}

.btn_header {
    width: 10rem;
    padding: .75rem;
    background: none;
    color: white;
    border: 1px solid white;
    font-size: 0.875rem;
}

.btn_header:hover {
    background-color: white;
    color: black;
}

#titulo-principal {
    font-size: 80px;
    font-weight: 400;
    margin: 5rem 0;
}

nav{
    display: flex;
    justify-content: center;
}

a {
    text-decoration: none;
    color: white;
    font-size: 100%;
    padding: 3rem 0;
}

#menu-responsivo {
    display: none;
}

@media screen and (max-width: 768px) {

    /* ul {
        width: 100%;
        display: flex;
        background-color: #3A3A3A;
        flex-direction: column;
        text-align: center;

    } */
    ul a:hover {
        background-color: rgba(0, 0, 0, .5);
    }
    .btn_header {
        display: none;
    }
    #banner-principal div{
        display: none;
    }
    #banner-principal{
        justify-content: center;
    }
    #contenido-acerca-de {
        display: flex;
        flex-direction: column;
    }

    #contenido-acerca-de div{
        width: 100%;
    }
    h2 {
        font-size: 48px;
        color: #3A3A3A;
        font-weight: 400;
        font-family: 'Cormorant Garamond', serif;
        margin-bottom: 2rem;
    }
    #titulo-principal {
        font-size: 40px;
        font-weight: 400;
        margin: 5rem 0;
    }
    footer .name {
        display: none;
    }
    footer div{
        display: none;
    }
    .menu-responsivo {
        display: flex;
        background-color:transparent;
        border: none;
        img {
            height: 2rem;
            margin-right: 2rem;
        }
    }
    ul {
        display: none;
    }
} 

/* SEGUNDA SECCION */
#aceca_de {
    display: flex;
    flex-direction: column;
    background-color: #edeae8;
    padding: 5%;
}

#contenido-acerca-de p {
    margin-bottom: 1rem;
    color: #3A3A3A;
    font-weight: 100;
}

#contenido-acerca-de {
    display: flex;
    flex-direction: column;    
}

#contenido-acerca-de div {
    width: 50rem;
}

.titulo-grande {
    font-size: 48px;
}

/* TERCERA SECCION */
.mensaje {
    display: flex;
    width: 100%;
    background-image: url('imagenes/foto8.webp');
    background-size: cover;
    font-size: 48px;
    color: white;
    padding: 2em;
    text-align: center;
    background-position: center;
    text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.5);
}

/*  CUARTA SECCION */
.servimos {
    background-color: #edeae8;
    padding: 5em;
    text-align: center;
}

.servimos p {
    margin: 0 15%;
    color: #3A3A3A;
}

#lista-postres {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 4rem;
}

.postre {
    margin: 1.5rem;
    width: 40vh;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.postre img {
    width: 40vh;
    height: 40vh;
    background-color: blue;
}

.postre h3 {
    font-size: 32px;
    font-weight: 100;
}

/* SECCION CUENTA */

#cuenta {
    background-color: #b37e6b;
    margin: 5%;
    padding: 10%;
    width: 90%;
    position: absolute;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    color: white;
    font-size: 24px;
}

#cuenta div {
    margin-top: 2em;
    display: flex;
    flex-direction: row;
}

#cuenta input {
    font-size: 24px;
    border: none;
    border-radius: 5px;
    padding: 1rem;
    width: 100%;
}

#cuenta button {
    background-color:transparent;
    color: white;
    border: 1px solid white;
    padding: .5rem 2.5rem;
    font-weight: 700;
    margin-left: 2rem;
}

#cuenta button:hover{
    background-color: white;
    color: #b37e6b;
}

/* SECCION DE FANS */

#comentarios {
    margin-top: 15rem;
    background-color: #edeae8;
    padding: 14em 4em 4em 4em;
}

#contenido-comentarios {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.columna-comentarios {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0 5%;
    flex-wrap: wrap;
}

.comentario {
    background-color: white;
    margin: 5%;
    padding: 40px;
    width: 25rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.autor {
    padding: 1rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    img {
        margin: 0 2rem;
    }
}

.comentario img {
    height: 3rem;
    width: 3rem;
    border-radius: 3rem;
}

#autor {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

/* asd */

#imagenes {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

#imagenes img {
    height: 35vh;
}

/* SECCION INFORMACION */
#informacion {
    background-color: #b37e6b;
    display: flex;
    flex-direction: column;
    padding: 2.5em;
    font-size: 25px;
    color: white;
}

#informacion div {
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    flex-wrap: wrap;
}

#informacion button {
    background-color:transparent;
    color: white;
    border: 1px solid white;
    padding: .5rem 2.5rem;
    font-weight: 700;
}

#informacion button:hover{
    background-color: white;
    color: #b37e6b;
}

hr {
    background-color: white;
    margin: 60px 0;
}

/* asd */
footer {
    background-color: #edeae8;
    height: 15vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 5em;
    color: #b37e6b;
}


.icon {
    height: 1.5rem;
    margin-left: 1rem;
}

#imagenes {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 35vh;
    overflow-y:auto; 
    flex-wrap: nowrap; 
}

#imagenes img {
    width: 33%;
    height: 100%;
}
